{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Support Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body { 
            font-family: sans-serif; 
            display: flex; 
            height: 100vh; 
            margin: 0; 
        }
        #thread-list { 
            width: 25%; 
            border-right: 1px solid #ccc; 
            overflow-y: auto; 
            margin: 20px; 
        }
        .user-thread:hover {
            background-color: #f9f9f9;
        }
        #chat-area { 
            flex: 1; 
            padding: 10px; 
            display: flex; 
            flex-direction: column; 
            max-width: 50%;
            border-right: 1px solid #ccc;
        }
        #support-info{
            width: 25%;
            padding: 8px 12px; 
            margin: 5px;
        }
        .support-detail{
            border: 2px solid rgba(0, 0, 0, 0.363); /* Bold black border */
            border-radius: 10px; 
        }

        .user-thread {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ddd;
        }

        .user-header,
        .user-body {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 4px;
        }

        .username {
            font-weight: 600;
            font-size: 16px;
            color: #1e1e1e;
        }

        .timestamp {
            font-size: 12px;
            color: #110606ad;
            margin-left: 10px;
            align-self: flex-end;
            white-space: nowrap;
        }
        .bubble-row {
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
        }
        .bot-bubble-inline {
            background-color: #dee2e615;
            padding: 6px 12px;
            border-radius: 6px;
            font-size: 13px;
            white-space: nowrap;
            background-color: #dee2e6;
        }

        .last-message {
            font-size: 14px;
            color: #555;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 80%;
        }

        .unread-count {
            font-size: 12px;
            text-align: center;
            margin-left: 8px;
        }

        .unread-indicator {
            background-color: #179746c9;
            color: white;
            font-weight: bold;
            border-radius: 50%;
            padding: 4px 8px;
            font-size: 12px;
            min-width: 20px;
            text-align: center;
        }
        .message {
            display: flex;
            flex-direction: column;
            padding: 8px 12px;
            margin: 5px;
            border-radius: 10px;
            max-width: 70%;
            position: relative;
            word-wrap: break-word;
        }

        .message-timestamp{
            font-size: 12px;
            color: #110606ad;
            text-align: right;
            margin-top: 4px;
        }
        .user-msg { 
            background-color: #f1f1f1; 
            align-self: flex-start; 
            text-align: left;
            max-width: 90%;
            width: fit-content;
        }
        .support-msg { 
            background-color: #c6f8f1fd;
            color:black; 
            align-self: flex-end; 
            text-align: left;
            max-width: 90%;
            width: fit-content;
            margin: 10px;
            padding: 10px;
            border-radius: 8px;
        }
        .custom-timestamp {
            font-size: 12px;
            color: #110606ad;
            text-align: right;
            margin-top: 4px;
        }
        #message-input {
            margin-top: auto; margin: 5px; 
            border-radius: 10px; 
            max-width: 100%;
        }
        input { 
            flex: 1; 
            padding: 10px; 
        }
        #input-message{ 
            border-radius: 10px; 
            margin: 5px;
        }
        #send-button{ 
            border-radius: 8px; 
            margin: 5px;
        }  
        button { 
            padding: 10px; 
        }
        #selected-user{
            height: 10%;
            background-color: #f0f0f08f;
            display: flex;
            align-items: center;
            padding: 5px;
            border: 2px solid rgba(0, 0, 0, 0.363); /* Bold black border */
            border-radius: 10px;
        }

        .dropdown-content {
            background-color: #ffffffd3;
            border: 1px solid #ccc;
            /* width: 200px; */
            max-height: 300px;
            overflow-y: auto;
            padding: 10px;
        }

        .dropdown-item {
            padding: 8px;
        }

        .dropdown-item:hover {
            background-color: #f0f0f0f3;
        }

        .system-msg {
            padding: 5px;
            background-color: #f0f0f0;
            border-left: 4px solid #888;
            margin: 10px 0;
        }
        
    </style>
    <!-- first load common utils -->
    <script src="{% static 'js/common_utils.js' %}"></script>
    <!-- To add script for google map having key-->
</head>
<body>

    <!-- left most part of screen -->
    <div id="thread-list">
        {% if threads %}
            {% for thread in threads %}
                <div class="user-thread" 
                    id="thread-{{ thread.thread_id }}"
                    data-user-id="{{ thread.user_id }}"
                    data-thread-id="{{ thread.thread_id }}"
                    data-user-fname="{{ thread.first_name }}"
                    data-user-lname="{{ thread.last_name }}"
                    data-user-mobile="{{ thread.mobile }}"
                    data-user-email="{{ thread.userEmail }}"
                    data-user-lat="{{ thread.lat }}"
                    data-user-lng="{{ thread.lng }}"
                    data-is-closed="{{ thread.is_closed|yesno:'true,false' }}">
                    <!-- Top Row: Username and Timestamp -->
                    <div class="user-row user-header">
                        <span class="username" id="username-{{thread.thread_id}}">{{ thread.username }}</span>
                        <span class="timestamp" id="timestamp-{{thread.thread_id}}">{{ thread.latest_timestamp }}</span>
                    </div>

                    <!-- Bottom Row: Last Message and Unread Bubble -->
                    <div class="user-row user-body">
                        <span class="last-message" id="message-{{thread.thread_id}}">
                            {{ thread.latest_message|slice:":30" }}{% if thread.latest_message|length > 30 %}...{% endif %}
                        </span>
                        <span id="thread-indicator-{{thread.thread_id}}" class="unread-count {% if thread.unread_count > 0 %}unread-indicator{% endif %}">
                            {% if thread.unread_count > 0 %}
                                {{ thread.unread_count }}
                            {% endif %}
                        </span>
                    </div>
                    {% if thread.is_closed %}
                        <div class="badge bg-secondary">Closed</div>
                    {% else %}
                        <div class="badge bg-success">Active</div>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
        <div class="no-thread" id="no-thread">
            <p>No active chat available.</p>
        </div>
        {% endif %}
    </div>

    <!-- middle part of screen -->
    <div id="chat-area">
        <div id="selected-user" style="display: none; position: relative;">
            <!-- This will be dynamically filled with the selected user's details -->
            <span id="selected-user-name" style="cursor: pointer;" data-user-id=""></span>
            <!-- Dropdown container for support team members -->
            <div id="support-members-dropdown" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; border: 1px solid #ccc; z-index: 1000;"></div>
        </div>
        <div id="chat-container" style="flex: 1; overflow-y: auto; display: flex; flex-direction: column;"></div>
        <div id="message-input" style="display: none;">
            <input type="text" id="input-message" placeholder="Type your message...">
            <button id="send-button" class="btn btn-primary">Send</button>
        </div>
    </div>

    <!-- right most part of screen -->
    <div id="support-info">
        <div class="support-detail" style="display: flex; justify-content: flex-end; align-items: center; background-color: #f5f5f5; padding: 10px;">
            <span style="margin-right: 10px;" class="support-username">
                <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong>
            </span>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary btn-sm">Logout</button>
            </form>
        </div>
        <div>
            <p><span id="user-name"></span></p>
            <p><span id="user-mobile"></span></p>
            <p><span id="user-email"></span></p>
            <p><span id="user-location"></span></p>
            <!-- User's location based on IP address -->
            <!-- <div id="map" style="width: 100%; height: 300px; margin-top: 10px;"></div> -->
            <div id="chat-close-wrapper" class="chat-close" style="display: none; position: relative; margin-top: 10px;">
                <button id="chat-close-btn" class="chat-close-btn btn btn-danger" type="button">
                    Close Chat
                </button>
            </div>
        </div>
    </div>

    <script>
        // script to handle chat data when member from support team clicks on any user (who has requested to chat with support team)
        // const chatContainer = document.getElementById('chat-container')
        let selectedUserId = null;
        let selectedThreadId = null;
        let chatSocket = null;
        let notificationSocket = null;
        let isClosed;
        let support_agent_id = "{{ request.user.id }}";

        document.querySelectorAll('.user-thread').forEach(userDiv => {
            userDiv.addEventListener('click', () => {
                
                // when support team clicks on any user
                selectedUserId = userDiv.dataset.userId;
                selectedThreadId = userDiv.dataset.threadId;
                isClosed = userDiv.dataset.isClosed;

                // fetching user details
                const fname = userDiv.dataset.userFname;
                const lname = userDiv.dataset.userLname;
                const mobile = userDiv.dataset.userMobile;
                const email = userDiv.dataset.userEmail;

                // load chat history data of that user, and then
                // Handle assignment / connection logic for support agent with user 
                loadChatHistory(selectedThreadId).then(() => {
                    handleSupportAssignment({
                        selectedThreadId: selectedThreadId,
                        // userId: selectedUserId,
                        fname: fname,
                        lname: lname,
                        email: email
                    });
                });

                // load user location based on IP address
                // loadUserLocation(selectedUserId);  // Load map too


                // Displaying user details
                document.getElementById("user-name").textContent = `Name: ${fname} ${lname}`;
                document.getElementById("user-mobile").textContent = `Mobile: ${mobile}`;
                document.getElementById("user-email").textContent = `Email: ${email}`;

                // mark as read for msg of selected user
                markMessagesAsRead(selectedThreadId);

                // reseting unread to read
                const indicator = document.getElementById(`thread-indicator-${selectedThreadId}`);
                if (indicator) {
                    indicator.textContent = '';
                    indicator.style.display = 'none';
                }

                // Update the selected user's name in the top div
                const selectedUserName = document.getElementById("selected-user-name");
                selectedUserName.textContent = "";
                selectedUserName.textContent = `${fname} ${lname}`;
                selectedUserName.setAttribute("data-user-id", selectedUserId);
                // selectedUserName.style.backgroundColor = 'green';
                // Show the div with 10% height
                const selectedUserDiv = document.getElementById("selected-user");
                selectedUserDiv.style.display = 'block';
                selectedUserDiv.style.height = '10vh';
                

                // to show support team members dropdown when selected user is clicked
                // and assign the support team member if any support team member is selected
                document.getElementById("selected-user-name").addEventListener("click", function (e) {
                    e.stopPropagation();  // Prevent clicks outside from hiding the dropdown
                    toggleSupportMemberDropdown(selectedThreadId); // handling dropdown for support team members 
                });

                // For closing the chat
                // first show the "Close The Chat" button
                document.getElementById('chat-close-wrapper').style.display = 'block';
                const closeBtn = document.getElementById('chat-close-btn')
                
                // Disable Connect button if it exists
                const connectBox = document.getElementById("connect-box");
                const connectBtn = connectBox?.querySelector("button");

                if (isClosed == "true" || isClosed == "True") {
                    // isClosed is of type string, and not boolean type
                    // disable Close Chat btn
                    closeBtn.disabled = true;
                    closeBtn.textContent = "Chat Already Closed";
                    closeBtn.title = "This chat has already been closed.";

                    // Disable input & send button
                    document.getElementById("input-message").disabled = true;
                    document.getElementById("send-button").disabled = true;

                    // remove the Connect btn
                    if (connectBox) connectBox.remove();
                }else {
                    closeBtn.disabled = false;
                    closeBtn.textContent = "Close Chat";
                    closeBtn.title = "";

                     // Prevent duplicate event listeners
                    const newCloseBtn = closeBtn.cloneNode(true);
                    closeBtn.parentNode.replaceChild(newCloseBtn, closeBtn);

                    newCloseBtn.addEventListener('click', function () { 

                        // then add click event for closing the chat
                        if (!selectedThreadId) return;

                        const confirmClose = confirm(`Are you sure you want to close the chat with the user ${fname} ${lname}?`);
                        if (!confirmClose) return;

                        fetch(`/close_chat_thread/${selectedThreadId}/`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': getCSRFToken()
                            },
                            body: JSON.stringify({
                                support_agent_id: support_agent_id
                            })
                        })
                        .then(res => res.json())
                        .then(data => {
                            if (data.success) {
                                alert("Chat has been closed successfully.");
                                location.reload();

                                // // Disable everything
                                // newCloseBtn.disabled = true;
                                // newCloseBtn.textContent = "Chat Already Closed";
                                // newCloseBtn.title = "This chat has already been closed.";

                                // document.getElementById("input-message").disabled = true;
                                // document.getElementById("send-button").disabled = true;

                                // const connectBox = document.getElementById("connect-box");

                                // // Remove connect box
                                // if (connectBox) connectBox.remove();

                            } else {
                                alert(data.error);
                            }
                        })
                    .catch(err => {
                        // console.error("Error closing chat:", err);
                        alert("An error occurred. Please try again.");
                    });

                    });

                };
            });
        });
        // Helper to show message
        function appendSystemMessage(msg) {
            const chatBox = document.getElementById("chat-container");
            const div = document.createElement("div");
            div.className = "system-msg";
            div.style.cssText = "padding:6px 10px;margin:6px 0;font-style:italic;color:#555;background:#f5f5f5;border-left:4px solid #888;";
            div.textContent = msg;
            chatBox.appendChild(div);
            chatBox.scrollTop = chatBox.scrollHeight;
        }

        async function handleSupportAssignment({ selectedThreadId, fname, lname, email }) {
            /**
             * Handle assignment / connection logic for a user → support-agent thread.
             * Disables the input UI until the current support agent is eligible.
            **/
            const inputField = document.getElementById("input-message");
            const sendButton = document.getElementById("send-button");
            const chatBox = document.getElementById("chat-container");

            // Always hide input first
            inputField.disabled = true;
            sendButton.disabled = true;
            document.getElementById("message-input").style.display = "flex";

            // Remove any previous connect box
            const oldBox = document.getElementById("connect-box");
            if (oldBox) oldBox.remove();

            try {
                const res = await fetch(`/check_or_assign_support/?chat_thread_id=${selectedThreadId}`);
                const data = await res.json();

                if (data.status === "assigned_to_you") {
                    inputField.disabled = false;
                    sendButton.disabled = false;
                    return;
                }

                if (data.status === "assigned_to_other") {
                // appendSystemMessage(
                //     `User ${fname} ${lname} is already assigned to ${data.assigned_to}.`
                // );
                // return;

                    // Remove previous infoBox if exists to avoid duplicates
                    const existingBox = document.getElementById("assigned-info-box");
                    if (existingBox) {
                        existingBox.remove();
                    }

                    // Create the box
                    const infoBox = document.createElement("div");
                    infoBox.id = "assigned-info-box";  // Give it a fixed ID so we can manage it
                    infoBox.classList.add("assigned-info-box");
                    infoBox.style.cssText = `
                        background: #fff3cd;
                        padding: 12px;
                        margin: 10px;
                        border: 1px solid #ffeeba;
                        border-radius: 8px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    `;

                    const msgText = document.createElement("span");
                    msgText.textContent = `User ${fname} ${lname} is already assigned to ${data.assigned_to}.`;
                    msgText.style.color = "#856404";
                    msgText.style.fontWeight = "500";

                    infoBox.appendChild(msgText);

                    // Append to chat container at the end
                    chatBox.appendChild(infoBox);

                    // Disable input field and send button
                    inputField.disabled = true;
                    sendButton.disabled = true;

                    // Scroll to bottom
                    chatBox.scrollTop = chatBox.scrollHeight;

                    return;

                }

                // At this point: status === 'unassigned' → show connect UI
                const connectBox = document.createElement("div");
                connectBox.id = "connect-box";
                connectBox.style.cssText =
                "background:#f1f1f1;padding:12px;margin:10px;border:1px solid #ccc;border-radius:8px;display:flex;flex-direction:column;align-items:flex-start;";

                const textSpan = document.createElement("span");
                textSpan.textContent = `To start chat, first connect with ${fname} ${lname} (${email}).`;
                textSpan.style.marginBottom = "10px";

                const connectBtn = document.createElement("button");
                connectBtn.textContent = "Connect";
                connectBtn.className = "btn btn-success";

                connectBtn.onclick = async () => {
                if (!confirm(`Are you sure you want to connect with ${fname} ${lname}?`))
                    return;

                const postRes = await fetch(`/check_or_assign_support/`, {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCSRFToken(),
                    },
                    body: JSON.stringify({ chat_thread_id: selectedThreadId }),
                });

                const assignData = await postRes.json();

                if (assignData.status === "assigned") {
                    appendSystemMessage(`You are now assigned to ${fname} ${lname} (${email}).`);
                    inputField.disabled = false;
                    sendButton.disabled = false;
                    connectBox.remove();
                } else {
                    appendSystemMessage("Failed to assign. Try again.");
                }
                };

                connectBox.appendChild(textSpan);
                connectBox.appendChild(connectBtn);
                chatBox.appendChild(connectBox);
                chatBox.scrollTop = chatBox.scrollHeight;

            } catch (err) {
                console.error("Failed to check or assign support:", err);
                appendSystemMessage("Error checking support status. Please try again.");
            }
        }

        function moveImportantElementsToBottom() {
            const chatBox = document.getElementById("chat-container");

            const selectors = [".assigned-info-box", "#connect-box"];
            selectors.forEach(selector => {
                const elements = chatBox.querySelectorAll(selector);
                elements.forEach(el => {
                    chatBox.appendChild(el);  // Appending again moves it to the bottom
                });
            });

            chatBox.scrollTop = chatBox.scrollHeight;
        }

        function moveConnectBoxToBottom() {
            const chatBox = document.getElementById("chat-container");
            const connectBox = document.getElementById("connect-box");
            if (connectBox && chatBox.contains(connectBox)) {
                chatBox.removeChild(connectBox);   // Remove from current position
                chatBox.appendChild(connectBox);   // Add again at the end
            }
        }

        function toggleSupportMemberDropdown(selectedThreadId) {
            const dropdown = document.getElementById("support-members-dropdown");

            if (dropdown.style.display === "block") {
                dropdown.style.display = "none";
            } else {
                fetch('/support_members/')
                    .then(response => response.json())
                    .then(data => {
                        dropdown.innerHTML = '';  // Clear previous data

                        // Add placeholder item
                        const placeholder = document.createElement("div");
                        placeholder.classList.add("dropdown-item");
                        placeholder.textContent = "Please select support agent";
                        placeholder.style.fontWeight = "bold";
                        placeholder.style.padding = "5px";
                        placeholder.style.cursor = "default";
                        dropdown.appendChild(placeholder);

                        data.support_agents.forEach(member => {
                            const memberDiv = document.createElement("div");
                            memberDiv.classList.add("dropdown-item");
                            memberDiv.setAttribute("data-member-id", member.id);
                            memberDiv.textContent = `${member.first_name} ${member.last_name} (${member.username})`;
                            memberDiv.style.cursor = "pointer";
                            memberDiv.style.padding = "5px";

                            memberDiv.addEventListener("click", function (e) {
                                e.stopPropagation();
                                assignSupportMember(selectedThreadId, member.id);
                                dropdown.style.display = "none";
                            });

                            dropdown.appendChild(memberDiv);
                        });

                        dropdown.style.display = "block";
                    })
                    .catch(error => console.error("Error fetching support members:", error));
            }
        }

        function assignSupportMember(selectedThreadId, memberId) {
            fetch('/assign_support_member/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken()
                },
                body: JSON.stringify({
                    support_member_id: memberId,
                    chat_thread_id: selectedThreadId
                })
            })
            .then(response => response.json())
            .then(data => {
                const inputField = document.getElementById("input-message");
                const sendButton = document.getElementById("send-button");

                if (data.status == "success") {
                    const msg = `User ${data.user} is assigned to Support member ${data.support_agent} successfully!`;
                    alert(msg);
                    
                    // display success msg in chat box
                    const chatBox = document.getElementById("chat-container");
                    const div = document.createElement("div");
                    div.className = "assigned-info-box";
                    div.style.cssText = "padding:6px 10px;margin:6px 0;font-style:italic;color:#555;background:#f5f5f5;border-left:4px solid #888;";
                    div.textContent = msg;
                    chatBox.appendChild(div);
                    chatBox.scrollTop = chatBox.scrollHeight;
                    
                    // move mshg at the bottom even when new msg arrives
                    moveImportantElementsToBottom();

                    // Disable input field and send button
                    inputField.disabled = true;
                    sendButton.disabled = true;
                } else {
                    alert(data.message);
                }
                // location.reload();
            })
            .catch(error => console.error("Error assigning support member:", error));
            // location.reload();
        }

        // Hide dropdown list for support mmbers when clicking outside
        document.addEventListener("click", function () {
            const dropdown = document.getElementById("support-members-dropdown");
            dropdown.style.display = "none";
        });

        function loadChatHistory(selectedThreadId) {
            return fetch(`/get_chat_history/${selectedThreadId}/`)
                .then(res => res.json())
                .then(data => {
                    const chatBox = document.getElementById('chat-container');
                    chatBox.innerHTML = '';

                    // load greeting msg by Eva first
                    greetUserWithBotTreeOptions(data.first_interaction_timestamp, "support");

                    // then load chat history
                    data.messages.forEach(msg => {
                        const msgWrapper = document.createElement('div');
                        msgWrapper.classList.add('message');

                        // Determine alignment based on sender
                        if (msg.sender === 'user') {
                            msgWrapper.classList.add('user-msg');
                        } else {
                            msgWrapper.classList.add('support-msg');
                        }

                        // Create message text element
                        const textSpan = document.createElement('span');
                        textSpan.style.display = "flex";
                        textSpan.style.flexDirection = "column";

                        // Label for sender
                        const senderLabel = document.createElement("div");
                        senderLabel.style.fontWeight = "bold";
                        senderLabel.style.marginBottom = "2px";

                        if (msg.sender === 'bot') {
                            senderLabel.textContent = "Eva";
                        } else if (msg.sender === 'support') {
                            senderLabel.textContent = (msg.support_agent_id === support_agent_id) ? "You" : msg.support_full_name;
                        }

                        textSpan.appendChild(senderLabel);

                        if (msg.sender === 'bot') {
                            const messageWrapper = document.createElement("div");
                            messageWrapper.style.backgroundColor = "#c6f8f1fd";
                            messageWrapper.style.padding = "8px";
                            messageWrapper.style.borderRadius = "6px";
                            messageWrapper.style.display = "flex";
                            messageWrapper.style.flexWrap = "wrap";
                            messageWrapper.style.gap = "8px";
                            messageWrapper.style.marginTop = "4px";

                            const splitMessages = msg.message.split(';').map(s => s.trim()).filter(s => s);
                            splitMessages.forEach(part => {
                                const bubble = document.createElement("div");
                                bubble.textContent = part;
                                bubble.style.backgroundColor = "#dee2e6";
                                bubble.style.padding = "6px 10px";
                                bubble.style.borderRadius = "6px";
                                bubble.style.display = "inline-block";
                                bubble.style.maxWidth = "80%";
                                bubble.style.wordBreak = "break-word";
                                messageWrapper.appendChild(bubble);
                            });

                            textSpan.appendChild(messageWrapper);
                        } else {
                            const messageContent = document.createElement("div");
                            messageContent.textContent = msg.message;
                            textSpan.appendChild(messageContent);
                        }

                        // Create timestamp element
                        const timestampSpan = document.createElement('span');
                        timestampSpan.classList.add('timestamp');
                        timestampSpan.textContent = msg.timestamp;

                        // Append message and timestamp to wrapper
                        msgWrapper.appendChild(textSpan);
                        msgWrapper.appendChild(timestampSpan);
                        chatBox.appendChild(msgWrapper);
                    });

                    document.getElementById('message-input').style.display = 'flex';
                    connectWebSocket(selectedThreadId);
                    scrollToBottom();
                });
        }

        function connectWebSocket(selectedThreadId) {
            if (chatSocket) {
                chatSocket.close();
            }
            // websocket connection for chat with the support team
            const wsProtocol = window.location.protocol === 'https:' ? 'wss' : 'ws';
            chatSocket = new WebSocket(`${wsProtocol}://${window.location.host}/ws/support/support_${selectedThreadId}/`);

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                const chatBox = document.getElementById('chat-container');

                const messageDiv = document.createElement('div');
                messageDiv.classList.add('message');
                messageDiv.classList.add(data.sender === 'support' ? 'support-msg' : 'user-msg');

                // Create wrapper for text + name
                const messageWrapper = document.createElement('span');
                messageWrapper.style.display = "flex";
                messageWrapper.style.flexDirection = "column";

                // Add label if sender is support
                if (data.sender === 'support') {
                    const nameLabel = document.createElement('div');
                    nameLabel.style.fontWeight = "bold";
                    nameLabel.style.marginBottom = "2px";
                    nameLabel.textContent = (data.support_agent_id === support_agent_id) ? "You" : data.support_full_name;
                    messageWrapper.appendChild(nameLabel);
                }

                // Create a span for the actual message text
                const messageText = document.createElement('div');
                messageText.classList.add('message-text');
                messageText.textContent = data.message;

                // Append message text
                messageWrapper.appendChild(messageText);

                // Create a span for the timestamp
                const timestamp = document.createElement('span');
                timestamp.classList.add('message-timestamp');
                timestamp.textContent = data.timestamp || '';

                // Append text and timestamp to the message
                messageDiv.appendChild(messageWrapper);
                messageDiv.appendChild(timestamp);

                chatBox.appendChild(messageDiv);

                scrollToBottom();
                // moveConnectBoxToBottom();  // Reposition connectBox if present
                moveImportantElementsToBottom();
            };

        }

        // clicking Send btn to send msg
        // document.getElementById('send-button').addEventListener('click', sendMessage);
        document.getElementById('send-button').addEventListener('click', () => {
            sendMessage(selectedThreadId);
        });

        const inputField = document.getElementById('input-message');

        // Press Enter to send message
        inputField.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                sendMessage(selectedThreadId);
            }
        });

        // function to send msg
        function sendMessage(selectedThreadId) {
            const input = document.getElementById('input-message');
            const message = input.value.trim();
            if (message && chatSocket) {
                chatSocket.send(JSON.stringify({ 
                    'message': message, 
                    'sender': 'support', 
                    'chat_thread_id': selectedThreadId,
                    // "user_id": selectedUserId,
                    'support_agent_id': support_agent_id
            }));
                input.value = '';
                scrollToBottom();
            }
        }

    </script>

    <script>
        // to handle user info when support team member clicks on any user
        let map;

        function renderMap(lat = 20.5937, lon = 78.9629) {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: lat, lng: lon },
                zoom: 6,
                mapId: "DEMO_MAP_ID"  // Replace with your real Map ID (optional)
            });

            const marker = new google.maps.marker.AdvancedMarkerElement({
                map: map,
                position: { lat: lat, lng: lon },
                title: "User Location"
            });
        }

        function initMap(lat, lon) {
            // Default map initialization (optional)
            renderMap(lat, lon); // need to pass dynamic & actual longitude and lattitude of the user as params
        }
        
        function loadUserLocation(userId) {
            fetch(`/user_location/${userId}/`)
                .then(res => res.json())
                .then(data => {
                    if (data.lat && data.lon) {
                        document.getElementById('user-location').innerText = `Location: ${data.city}, ${data.country}`;
                        document.getElementById('map').style.display = 'block'; // Show map container
                        initMap(data.lat, data.lon);
                    } else {
                        document.getElementById('user-location').innerText = 'Location not available';
                        document.getElementById('map').style.display = 'none'; // Hide map if location not available
                    }
                });
        }
    </script>

    <script>
        function connectNotificationWebSocket() {
            const wsProtocol = window.location.protocol === 'https:' ? 'wss' : 'ws';
            const wsUrl = `${wsProtocol}://${window.location.host}/ws/support_notifications/`;
            notificationSocket = new WebSocket(wsUrl);

            // notificationSocket.onopen = function () {
            //     console.log('WebSocket connection opened');
            // };

            notificationSocket.onmessage = function (e) {
                const data = JSON.parse(e.data); 

                if (data.type === 'new_support_thread') {
                    // const isCurrentUserOpen = Number(selectedUserId) === Number(data.user.id);
                    const isCurrentThreadOpen = Number(selectedThreadId) === Number(data.user.chat_thread_id);

                    // Update latest message and timestamp
                    updateLastMessageAndTimestamp(data.user);

                    if (!isCurrentThreadOpen) {
                        // Only update unread count if this user is NOT currently being viewed
                        addOrUpdateUser(data.user);
                    }else{
                        // if current user sends a msg, and that user is already opened on support dashboard to chat, then 
                        // 1. mark that msg as read
                        markMessagesAsRead(data.user.chat_thread_id);
                        // 2. Remove unread indicator bubble
                        const indicator = document.getElementById(`thread-indicator-${data.user.chat_thread_id}`);
                        if (indicator) {
                            indicator.classList.remove('unread-indicator');
                        }
                    }
                    
                }
            };


            notificationSocket.onclose = function (e) {
                console.warn('WebSocket closed. Reconnecting in 2 seconds...', e);
                setTimeout(connectNotificationWebSocket, 2000);  // Reconnect on close
            };

            notificationSocket.onerror = function (err) {
                console.error('WebSocket error:', err);
                notificationSocket.close();  // Trigger reconnect logic
            };
        }

        function markMessagesAsRead(selectedThreadId) {
            fetch(`/mark_as_read/${selectedThreadId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCSRFToken(),  // implement this if needed
                }
            }).then(res => res.json()).then(data => {
                console.log('Marked messages as read:', data);
            });
        }

        function addOrUpdateUser(user) {
            const userList = document.getElementById('thread-list');
            const existingUser = document.getElementById(`thread-${user.chat_thread_id}`);

            // Remove "No active chat available." if exists
            const noUsersDiv = document.getElementById('no-thread');
            if (noUsersDiv) {
                noUsersDiv.remove();
            }

            if (existingUser) {
                // Move existing user to top
                userList.prepend(existingUser);

                // unread notification span
                const indicator = document.getElementById(`thread-indicator-${user.chat_thread_id}`);
                if (indicator) {
                    // let currentCount = parseInt(indicator.textContent || '0', 10);
                    indicator.className = "unread-indicator";
                    indicator.textContent = user.unread_count || 1;
                    indicator.style.display = 'inline-block';
                }
            } else {    
                // Create new user div
                const userDiv = document.createElement('div');
                userDiv.className = 'user-thread';
                userDiv.id = `thread-${user.chat_thread_id}`;

                // Set data attributes
                userDiv.setAttribute('data-user-id', user.id);
                userDiv.setAttribute('data-thread-id', user.chat_thread_id);
                userDiv.setAttribute('data-user-fname', user.first_name || "");
                userDiv.setAttribute('data-user-lname', user.last_name || "");
                userDiv.setAttribute('data-user-mobile', user.mobile || "");
                userDiv.setAttribute('data-user-email', user.email || "");
                userDiv.setAttribute('data-user-lat', user.lat || "");
                userDiv.setAttribute('data-user-lng', user.lng || "");
                userDiv.setAttribute('data-is-closed', user.is_closed);


                const fname = userDiv.dataset.userFname;
                const lname = userDiv.dataset.userLname;

                // Set inner HTML
                userDiv.innerHTML = `
                    <!-- Top Row: Username and Timestamp -->
                    <div class="user-row user-header">
                        <span class="username" id="username-${user.chat_thread_id}">${user.username}</span>
                        <span class="timestamp" id="timestamp-${user.chat_thread_id}">${user.timestamp || ''}</span>
                    </div>
                    <!-- Bottom Row: Last Message and Unread Bubble -->
                    <div class="user-row user-body">
                        <span class="last-message" id="message-${user.chat_thread_id}">
                            ${user.message ? user.message.slice(0, 30) : 'No messages yet'}
                        </span>
                        <span id="thread-indicator-${user.chat_thread_id}" class="unread-count ${user.unread_count > 0 ? 'unread-indicator' : ''}">
                            ${user.unread_count > 0 ? user.unread_count : ''}
                        </span>
                    </div>
                `;
                // Add click event for a particular user's chat
                userDiv.addEventListener('click', () => {

                    selectedUserId = user.id;
                    selectedThreadId = user.chat_thread_id;
                    // loading chat history
                    loadChatHistory(user.chat_thread_id).then(() => {
                        handleSupportAssignment({
                            selectedThreadId: selectedThreadId,
                            // userId: selectedUserId,
                            fname: fname,
                            lname: lname,
                            email: `${user.email}`
                        });
                    });

                    // loading user location
                    // loadUserLocation(selectedUserId);

                    // setting user details
                    document.getElementById("user-name").textContent = `Name: ${user.first_name} ${user.last_name}`;
                    document.getElementById("user-mobile").textContent = `Mobile: ${user.mobile}`;
                    document.getElementById("user-email").textContent = `Email: ${user.email}`;

                    // mark as read when the current user is selected to chat
                    markMessagesAsRead(selectedThreadId);

                    // reseting unread to read
                    const indicator = document.getElementById(`thread-indicator-${selectedThreadId}`);
                    if (indicator) {
                        indicator.textContent = '';
                        indicator.style.display = 'none';
                    }

                    // Update the selected user's name in the top div
                    const selectedUserName = document.getElementById("selected-user-name");
                    selectedUserName.textContent = "";

                    selectedUserName.textContent = `${fname} ${lname}`;
                    selectedUserName.setAttribute("data-user-id", selectedUserId);
                    // selectedUserName.style.backgroundColor = 'green';
                    // Show the div with 10% height
                    const selectedUserDiv = document.getElementById("selected-user");
                    selectedUserDiv.style.display = 'block';
                    selectedUserDiv.style.height = '10vh';
                    

                    // to show support team members dropdown when selected user is clicked
                    // and assign the support team member if any support team member is selected
                    document.getElementById("selected-user-name").addEventListener("click", function (e) {
                        e.stopPropagation();  // Prevent clicks outside from hiding the dropdown
                        toggleSupportMemberDropdown(selectedThreadId); // handling dropdown for support team members 
                    });

                    // For closing the chat
                    // Show or hide the Close Chat button based on chat status
                    document.getElementById('chat-close-wrapper').style.display = 'block';
                    const closeBtn = document.getElementById('chat-close-btn');

                    if (user.is_closed === true || user.is_closed === 'true') {
                        closeBtn.disabled = true;
                        closeBtn.textContent = "Chat Already Closed";
                        closeBtn.title = "This chat has already been closed.";
                    } else{
                        closeBtn.disabled = false;
                        closeBtn.textContent = "Close Chat";
                        closeBtn.title = "";

                        // Attach close logic
                        closeBtn.onclick = () => {
                            if (!selectedThreadId) return;

                            const confirmClose = confirm(`Are you sure you want to close the chat with the user ${fname} ${lname}?`);
                            if (!confirmClose) return;

                            fetch(`/close_chat_thread/${selectedThreadId}/`, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': getCSRFToken()
                                },
                                body: JSON.stringify({
                                    support_agent_id: support_agent_id
                                })
                            })
                            .then(res => res.json())
                            .then(data => {
                                if (data.success) {
                                    alert("Chat has been closed successfully.");
                                    location.reload();  // Reload page after success
                                } else {
                                    alert(data.error);
                                }
                            })
                            .catch(err => {
                                console.error("Error closing chat:", err);
                                alert("An error occurred. Please try again.");
                            });
                        };

                    }

                });

                // Add to top of list
                userList.prepend(userDiv);
            }
        }

        function updateLastMessageAndTimestamp(user) {
            let userElement = document.getElementById(`thread-${user.chat_thread_id}`);

            if (!userElement) {
                // User block doesn't exist, create it
                addOrUpdateUser(user);
                userElement = document.getElementById(`thread-${user.chat_thread_id}`);
            }

            if (!userElement) return; // Still not found, abort

            // Update last message
            const messageSpan = userElement.querySelector('.last-message');
            if (messageSpan) {
                if (user.message) {
                    const trimmedMsg = user.message.length > 30 
                        ? user.message.slice(0, 30) + '...' 
                        : user.message;
                    messageSpan.textContent = trimmedMsg;
                } else {
                    messageSpan.textContent = 'No messages yet';
                }
            }

            // Update timestamp
            const timestampSpan = document.getElementById(`timestamp-${user.chat_thread_id}`);
            if (timestampSpan) {
                timestampSpan.textContent = user.timestamp || '';
            }
        }


        // Reconnect-safe startup
        document.addEventListener('DOMContentLoaded', function () {
            connectNotificationWebSocket();
        });


    </script>


    
</body>
</html>
